@use "../../../scss/abstracts/" as a;
@use "../../../scss/components/" as c;
.object {
  padding-block: 3rem;

  &.grid {
    display: grid;
    row-gap: 0.5rem;
    justify-content: center;
    text-align: center;
  }

  &__title {
    margin-bottom: a.m(medium);
  }

  &__btn {
    @include c.btn-bg();
  }
}
